@use '../abstracts' as abs;

*,
*::after,
*::before {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 100%;
}

body,
.bot {
  font-family: abs.$font;
  background-color: abs.$white;
  color: abs.$darkBlue;
  line-height: 1.4;
}

.bot {
  background-color: abs.$gray;
  min-height: 100vh;

  @include abs.breakpoint(large) {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

a {
  text-decoration: none;
  display: inline-block;
}

img {
  width: 100%;
}
